@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

a,
a:link,
a:visited {
  text-decoration: none;
  cursor: pointer;
}

a:hover,
a:link:hover,
a:visited:hover {
  text-decoration: underline;
}

:root {
  --spacing-none: 0;
  --spacing-xxs: 8px;
  --spacing-xs: 16px;
  --spacing-sm: 32px;
  --spacing-md: 64px;
  --media-query-min-width-sm: 576px;
  --media-query-min-width-md: 768px;
  --media-query-min-width-lg: 992px;
  --media-query-min-width-xl: 1200px;
  --media-query-max-width-xs: 575.98px;
  --media-query-max-width-sm: 767.98px;
  --media-query-max-width-md: 991.98px;
  --media-query-max-width-lg: 1199px;
  --font-family-regular: "Roboto", sans-serif;
  --font-family-bold: "Roboto", sans-serif;
  --font-family-black: "Roboto", sans-serif;
  --font-family-mono: "Roboto Mono", "Courier New", monospace;
  --font-size-base: 16px;
  --font-size-xxs: 1rem;
  --font-size-xs: 1.5rem;
  --font-size-sm: 1.75rem;
  --font-size-md: 2.25rem;
  --font-size-lg: 3rem;
  --font-size-xl: 5rem;
  --font-size-2xl: 7rem;
  --font-weight-hairline: 100;
  --font-weight-thin: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;
  --line-height-none: 1;
  --line-height-tight: 1.25;
  --line-height-snug: 1.375;
  --line-height-normal: 1.5;
  --line-height-relaxed: 1.625;
  --line-height-loose: 2;
  --letter-spacing-tighter: -0.05em;
  --letter-spacing-tight: -0.025em;
  --letter-spacing-normal: 0;
  --letter-spacing-wide: 0.025em;
  --letter-spacing-wider: 0.05em;
  --letter-spacing-widest: 0.1em;
  --box-shadow-none: none;
  --box-shadow-sm: 0px 4px 5px #e8e8e8;
  --border-radius-none: 0;
  --border-radius-xs: 8px;
  --border-radius-sm: 24px;
  --border-radius-md: 32px;
  --border-radius-lg: 48px;
  --border-radius-full: 9999px;
  --border-width-none: 0;
  --border-width-default: 1px;
  --opacity-0: 0;
  --opacity-25: 0.25;
  --opacity-50: 0.5;
  --opacity-75: 0.75;
  --opacity-100: 1;
  --z-index-0: 0;
  --z-index-10: 10;
  --z-index-20: 20;
  --z-index-30: 30;
  --z-index-40: 40;
  --z-index-50: 50;
  --z-index-1000: 1000;
  --z-index-auto: auto;
  --color-primary: #1cabe2;
  --color-secondary: #f26a21;
  --color-tertiary: #d1dff0;
  --color-light: #c6cfda;
  --color-muted: #eaeaea;
  --color-light-gray: #f1f1f1;
  --color-medium-gray: #f8f8f8;
  --color-dark-gray: #252525;
  --color-white: #ffffff;
  --color-black: #1a1a1a;
  --color-yellow: #ffc20e;
  --color-red: #e2231a;
  --background-color-primary: #eff5f9;
  --background-color-secondary: #d8d1c9;
  --header-height: 60px;
  --aside-width: 390px;
  --button-max-height: 36px;
  --heading-default-min-width: 270px;
  --heading-tertiary-min-width: 80px;
}

* {
  min-width: 0;
  min-height: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: var(--font-size-base);
}

body {
  font-family: var(--font-family-regular);
  line-height: 165%;
  background-color: var(--color-white);
  overflow-x: hidden;
}

a {
  color: var(--color-white);
}

.m--left {
  text-align: left !important;
}

.m--center {
  text-align: center !important;
}

.section {
  max-width: 90vw;
  padding: 48px 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.section--gap-md {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 24px;
}

.section--gap-lg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 32px;
}

.section--pt-0 {
  padding-top: 0 !important;
}

.section--background-primary {
  position: relative;
  background-color: var(--color-primary);
}

.section--background-primary::before,
.section--background-primary::after {
  content: "";
  width: 99vw;
  background: inherit;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: -1;
}

@media screen and (min-width: 1280px) {
  .section {
    max-width: 1280px;
  }
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: var(--spacing-sm);
}

.block--wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.block--align-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.block--color-white .heading,
.block--color-white .paragraph {
  color: var(--color-white) !important;
}

.block--color-primary .heading,
.block--color-primary .paragraph {
  color: var(--color-primary) !important;
}

@media screen and (max-width: 992px) {
  .block.block--wrap > .card--donate:nth-child(2n + 1) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
}

.button {
  display: inline-block;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.button--primary {
  padding: calc(8px + 8 * ((100vw - 360px) / 840)) calc(32px + 40 * ((100vw - 360px) / 840));
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  font-size: calc(24px + 8 * ((100vw - 360px) / 840));
  text-align: center;
  color: var(--color-white) !important;
  background-color: var(--color-secondary);
  border-radius: var(--border-radius-lg);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.button--primary:hover {
  text-decoration: none !important;
  color: var(--color-secondary) !important;
  background-color: var(--color-light-gray) !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.button--primary:focus {
  background: var(--color-secondary);
}

.button--secondary {
  padding: calc(8px + 8 * ((100vw - 360px) / 840)) calc(32px + 40 * ((100vw - 360px) / 840));
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  font-size: calc(24px + 8 * ((100vw - 360px) / 840));
  text-align: center;
  color: var(--color-black) !important;
  background-color: var(--color-yellow);
  border-radius: var(--border-radius-lg);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.button--secondary:hover {
  text-decoration: none !important;
  background-color: var(--color-light-gray) !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.button--secondary:focus {
  background: var(--color-yellow);
}

@media screen and (min-width: 992px) {
  .button--primary {
    font-size: 32px;
  }
  .button--secondary {
    font-size: 32px;
  }
}

.link:hover {
  cursor: pointer;
}

.image {
  -o-object-fit: cover;
  object-fit: cover;
  display: inline-block;
}

.image--full {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  max-width: 100%;
  max-height: 100%;
}

.image--default--md {
  max-width: calc(183px + 112 * ((100vw - 360px) / 840));
  max-height: calc(100px + 73 * ((100vw - 360px) / 840));
}

.image[class*="round"] {
  border-radius: 50%;
}

.image--round--md {
  width: calc(117px + 58 * ((100vw - 360px) / 840));
  height: calc(117px + 58 * ((100vw - 360px) / 840));
}

.image--square--md {
  width: calc(80px + 30 * ((100vw - 360px) / 840));
  height: calc(80px + 30 * ((100vw - 360px) / 840));
}

@media screen and (min-width: 1200px) {
  .image--default--md {
    max-width: 318px;
    max-height: 140;
  }
  .image--round--md {
    width: 175px;
    height: 175px;
  }
  .image--square--md {
    width: 110px;
    height: 110px;
  }
}

.heading {
  font-weight: 900;
  padding: 0;
  text-align: center;
  line-height: normal;
}

.heading--primary {
  font-size: calc(48px + 8 * ((100vw - 360px) / 840));
}

.heading--secondary {
  font-size: calc(24px + 16 * ((100vw - 360px) / 840));
}

.heading--tertiary {
  font-size: calc(16px + 8 * ((100vw - 360px) / 840));
}

.heading--highlight {
  line-height: normal;
}

.heading--highlight span {
  padding: 4px 8px;
  color: var(--color-white);
  background-color: var(--color-primary);
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

@media screen and (min-width: 1024px) {
  --highlight {
    line-height: 1.5;
  }
  --highlight span {
    padding: 8px 16px;
  }
}

@media screen and (min-width: 1200px) {
  .heading--primary {
    font-size: 56px;
  }
  .heading--secondary {
    font-size: 40px;
  }
  .heading--tertiary {
    font-size: 24px;
    line-height: 30px;
  }
}

.paragraph {
  padding: 0;
  margin: 0;
  width: 100%;
  line-height: normal;
}

.paragraph--md {
  font-size: calc(16px + 4 * ((100vw - 320px) / (1200 - 320)));
}

.paragraph--lg {
  font-size: calc(20px + 4 * ((100vw - 320px) / (1200 - 320)));
}

.paragraph--xl {
  font-size: calc(20px + 16 * ((100vw - 320px) / (1200 - 320)));
}

.paragraph--xxl {
  font-size: calc(45px + 25 * ((100vw - 320px) / (1200 - 320)));
}

@media screen and (min-width: 1200px) {
  .paragraph--md {
    font-size: 20px;
  }
  .paragraph--lg {
    font-size: 24px;
  }
  .paragraph--xl {
    font-size: 36px;
  }
  .paragraph--xxl {
    font-size: 70px;
  }
}

.iframe {
  margin: 0 auto;
}

.iframe--primary {
  max-width: 768px;
  width: 100%;
}

.iframe-wrapper {
  overflow: hidden;
  position: relative;
  padding-bottom: 60.25%;
}

.iframe-wrapper iframe {
  border: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.banner--primary {
  width: 100%;
  height: 360px;
}

.banner--primary .banner__wrapper {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.banner--primary .banner__wrapper img {
  max-height: 90%;
}

@media screen and (min-width: 768px) {
  .banner--primary {
    height: 370px;
  }
}

.img_text {
  display: -ms-grid;
  display: grid;
  grid-template-areas: "image" "text";
  gap: 24px;
}

.img_text__image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: image;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.img_text__image .image {
  max-width: 144px;
}

.img_text__text {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: text;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  gap: 16px;
}

.img_text--primary .img_text__image .image {
  max-width: 80px;
  height: auto;
}

.img_text--tertiary {
  padding: 40px 24px;
  background-color: var(--color-primary);
  gap: 32px;
}

.img_text--tertiary .img_text__text .heading,
.img_text--tertiary .img_text__text .paragraph {
  color: var(--color-white);
}

.img_text--full .img_text__image img {
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .img_text {
    -ms-grid-columns: auto 1fr;
    grid-template-columns: auto 1fr;
    grid-template-areas: "image text";
  }
  .img_text--primary .img_text__image .image,
  .img_text--full .img_text__image .image {
    max-width: 160px;
  }
  .img_text--primary .img_text__image .image {
    -o-object-fit: contain;
    object-fit: contain;
  }
  .img_text--tertiary {
    padding-top: 80px 32px;
    background-color: var(--color-primary);
  }
}

.blockquote {
  padding: 0;
  margin: 0;
  border: none;
  quotes: "“" "”" "‘" "’";
}

.blockquote::before,
.blockquote::after {
  position: absolute;
  color: var(--color-primary);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
  font-size: 170px;
  font-weight: bold;
}

.blockquote:before {
  content: open-quote;
  top: -10px;
  left: -12px;
}

.blockquote:after {
  content: close-quote;
  bottom: -43px;
}

.blockquote__wrapper {
  position: relative;
  margin: 55px 0 26px;
}

.blockquote .paragraph {
  display: inline;
}

.card {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
}

.card--quantity {
  padding: 40px 24px;
  width: 90%;
  max-width: 90%;
  background-color: var(--color-white);
  gap: 16px;
}

.card--quantity .paragraph--xxl {
  font-weight: 900;
}

.card--quantity .heading {
  width: 100% !important;
  color: var(--color-white);
  text-transform: uppercase;
}

.card--donate {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 16px;
  position: relative;
  padding: 24px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.card--donate .image {
  border-radius: inherit;
}

.card--donate .paragraph {
  font-weight: 900;
  color: var(--color-dark-gray) !important;
}

.card--donate .link {
  position: relative;
  padding: 12px 16px;
  margin-top: 16px;
  font-size: 24px;
  font-weight: 900;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-white);
  background: var(--color-secondary);
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  display: block;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.card--donate .link:hover {
  background: var(--color-yellow);
  color: var(--color-dark-gray);
  text-decoration: none;
}

.card--donate .link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 6px;
  left: 6px;
  background: var(--color-white);
  z-index: -1;
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.card--donate .link:hover:before {
  -webkit-transform-origin: top right;
  transform-origin: top right;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.card--donate .link:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 6px;
  left: 6px;
  border: 1px solid var(--color-white);
  z-index: -1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.card--donate .link:hover:after {
  top: -6px;
  left: -6px;
}

@media screen and (min-width: 768px) {
  .card {
    gap: 16px;
  }
  .card--quantity {
    padding: 56px 40px;
    width: 508px;
    max-width: 100%;
    gap: 24px;
  }
  .card--quantity .paragraph {
    max-width: 90%;
  }
}

[class^="swiper-container"] {
  width: 100%;
}

.swiper-container--practices .swiper-slide {
  -webkit-filter: blur(4px);
  filter: blur(4px);
}

.swiper-container--practices .swiper-slide .card {
  width: 100%;
  max-width: 100%;
}

.swiper-container--practices .swiper-slide-active {
  background: var(--color-white);
  -webkit-filter: blur(0);
  filter: blur(0);
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: auto;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.swiper-slide .card {
  width: 100%;
  max-width: 100%;
  border-radius: inherit;
}

[class^="swiper-pagination"] {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */
